:root {
  --sakura: #ffd1dc;
  --text: #333;
  --light-bg: rgba(255, 255, 255, .4);
  --hover-bg: rgba(255, 255, 255, .5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial
}

body {
  background: #fff url("../images/bkg/bkg1.jpg") center/cover no-repeat fixed;
  overflow: hidden
}

/* 整体容器 */
.glass {
  position: fixed;
  inset: 15px;
  background: rgba(255, 255, 255, .40);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}